.tasks__list {
    min-height: 295px;
}
.list__item-view {
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: space-between;
    background: $app-background-color;
    border-bottom: 1px solid $shadow-color;

    &:hover .item-view__delete-button {
        opacity: 1;
    }

    &:hover,
    &:hover .item-view__checkbox-label__icon,
    &:hover .item-view__text,
    &:hover .item-view__delete-button,
    &:hover .item-view__checkbox-label {
        background-color: #FAFAFA;
    }
}

.item-view__checkbox {
    position: absolute;
    left: -9999px;

    &:focus + .item-view__checkbox-label,
    &:focus + .item-view__checkbox-label .item-view__checkbox-label__icon{
        background-color: rgba(200, 200, 200, 0.2);
    }

    &:focus ~ .item-view__delete-button {
        opacity: 1;
    }

    &:checked ~ .item-view__text {
        text-decoration: line-through;
        color: $gray-text-color;
    }
    &:checked + .item-view__checkbox-label .item-view__checkbox-label__icon {
        opacity: 1;
    }
}


.item-view__text {
    flex-grow: 1;
    font-size: 24px;
    color: $main-text-color;
    padding: 12px 2px;
    min-width: 0;
    word-break: break-word;

    &:focus ~ .item-view__delete-button {
        opacity: 1;
    }
}

.item-view__delete-button {
    flex-shrink: 0;
    width: 64px;
    height: 58px;
    border: none;
    background: #FFF url("../img/cross.svg") no-repeat 22px 18px;
    background-size: 20px 20px;
    opacity: 0;

    &:focus {
        opacity: 1;
    }
}

.item-view__checkbox-label {
    flex-shrink: 0;
    width: 58px;
    height: 56px;
    background: #FFF url("../img/circle.svg") no-repeat 11px 11px;
    background-clip: padding-box;
}
.item-view__checkbox-label__icon {
    position: absolute;
    width: inherit;
    height: inherit;
    background: $app-background-color url("../img/checked.svg") no-repeat 11px 11px;
    opacity: 0;
}
