$space-background-color: #F2F2F2;
$app-background-color: #FFFFFF;
$shadow-color: #E6E6E6;
$gray-text-color: #CCCCCC;
$actions-bar-text-color: #888888;
$main-text-color: #666666;
$general-font: Roboto, sans-serif
