body {
  font-family: Roboto, sans-serif;
  background: #F2F2F2;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.todo-app {
  position: relative;
  width: 80%;
  max-width: 562px;
  min-width: 462px;
  margin: 0 auto 20px;
}
.todo-app::before {
  position: absolute;
  top: 100%;
  left: 2px;
  right: 2px;
  height: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  content: "";
  z-index: -1;
}
.todo-app::after {
  position: absolute;
  top: 100%;
  left: 4px;
  right: 4px;
  height: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  content: "";
  z-index: -2;
}

.actions-bar__item__task-filter {
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  justify-content: center;
  color: #888888;
}

.task-filter__item__input {
  position: absolute;
  left: -99999px;
}
.task-filter__item__input:focus + .task-filter__label {
  background-color: rgba(200, 200, 200, 0.2);
}
.task-filter__item__input:checked + .task-filter__label {
  border-color: #EBDFDF;
}

.task-filter__label {
  flex-shrink: 0;
  background: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 10%;
  padding: 3px 6px;
}
.task-filter__label ~ .task-filter__label {
  margin-left: 6px;
}

.task-filter__item__text {
  position: relative;
}

.actions-bar__item__task-clear-completed {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #888888;
  background: none;
  border: none;
}

.header__h1 {
  margin: 0;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 100px;
  color: #CCCCCC;
  line-height: 1;
}

.todo-app__content {
  background: #FFFFFF;
}
.todo-app__content::after {
  position: absolute;
  height: 5px;
  background: white;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  content: "";
}

.content__controls {
  display: flex;
  height: 66px;
  box-sizing: border-box;
  border-bottom: 1px solid #E6E6E6;
  box-shadow: inset 0 -1px 10px #E6E6E6;
}

.controls__select-all-button {
  width: 60px;
  height: 65px;
  background-size: 30px 16px;
  background: #FFFFFF url("../img/arrow_down.svg") no-repeat 17px 27px;
  border: none;
  flex-shrink: 0;
}

.controls__create-text-field {
  flex-grow: 1;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 21px;
  border: none;
  color: #666666;
  padding-left: 2px;
}
.controls__create-text-field::-webkit-input-placeholder {
  color: #CCCCCC;
}
.controls__create-text-field::-moz-placeholder {
  color: #CCCCCC;
}

.tasks__list {
  min-height: 295px;
}

.list__item-view {
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-bottom: 1px solid #E6E6E6;
}
.list__item-view:hover .item-view__delete-button {
  opacity: 1;
}
.list__item-view:hover, .list__item-view:hover .item-view__checkbox-label__icon, .list__item-view:hover .item-view__text, .list__item-view:hover .item-view__delete-button, .list__item-view:hover .item-view__checkbox-label {
  background-color: #FAFAFA;
}

.item-view__checkbox {
  position: absolute;
  left: -9999px;
}
.item-view__checkbox:focus + .item-view__checkbox-label, .item-view__checkbox:focus + .item-view__checkbox-label .item-view__checkbox-label__icon {
  background-color: rgba(200, 200, 200, 0.2);
}
.item-view__checkbox:focus ~ .item-view__delete-button {
  opacity: 1;
}
.item-view__checkbox:checked ~ .item-view__text {
  text-decoration: line-through;
  color: #CCCCCC;
}
.item-view__checkbox:checked + .item-view__checkbox-label .item-view__checkbox-label__icon {
  opacity: 1;
}

.item-view__text {
  flex-grow: 1;
  font-size: 24px;
  color: #666666;
  padding: 12px 2px;
  min-width: 0;
  word-break: break-word;
}
.item-view__text:focus ~ .item-view__delete-button {
  opacity: 1;
}

.item-view__delete-button {
  flex-shrink: 0;
  width: 64px;
  height: 58px;
  border: none;
  background: #FFF url("../img/cross.svg") no-repeat 22px 18px;
  background-size: 20px 20px;
  opacity: 0;
}
.item-view__delete-button:focus {
  opacity: 1;
}

.item-view__checkbox-label {
  flex-shrink: 0;
  width: 58px;
  height: 56px;
  background: #FFF url("../img/circle.svg") no-repeat 11px 11px;
  background-clip: padding-box;
}

.item-view__checkbox-label__icon {
  position: absolute;
  width: inherit;
  height: inherit;
  background: #FFFFFF url("../img/checked.svg") no-repeat 11px 11px;
  opacity: 0;
}

.content__actions-bar {
  display: flex;
  position: sticky;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background: #FFFFFF;
  box-shadow: inset 0 1px 0 #E6E6E6, 0 2px 4px #E6E6E6;
  padding: 3px 12px;
}

.actions-bar__item__task-counter {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin-left: 12px;
  color: #888888;
}

/*# sourceMappingURL=style.css.map */
